@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');
/* font-family: 'Roboto', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;700;800&display=swap');
/* font-family: 'Dosis', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
/* font-family: 'Raleway', sans-serif; */
body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
:root{
    --main-color:#ff724c;
}
h1 ,h2 {
    font-family: 'Dosis', sans-serif;
}
@media (min-width: 1400px){
.container,
 .container-lg,
  .container-md,
   .container-sm, 
   .container-xl, 
   .container-xxl {
    max-width: 1140px;
}
}
.bg-main-color{
    background-color: var(--main-color);
}
.text-main-color{
    color:var(--main-color);
}
.border-main-color{
border-color:var(--main-color) !important;
}
.scrollTop{
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: 1s;;
}

.loading{
    transition: .5s;
}

.loader {
    width: 48px;
    height: 48px ;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: var(--main-color) var(--main-color) transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    z-index: 2;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color:  transparent transparent var(--main-color) var(--main-color) ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: var(--main-color) var(--main-color) transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      










/* start navbar */
.navbar{
    transition: background-color, .8s;
}
.buttn i{
    transition: .5s;
}
.buttn:hover i{
    transform: rotate(360deg);
    color:white !important;
    background-color:#333333 !important;
}
.navbar .nav-link{
padding-block:15px ;
position: relative;
}
.navbar .nav-link::after{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width:0;
    background-color:var(--main-color);
    transition: .5s;
}
.navbar .nav-link.active::after{
    width: 100%;
}
.navbar .nav-link:hover::after{
    width:100%;
}
/* start navbar */

/* start header */
header{
    background-image: url(../img/introbg5.png);
    background-size: cover;
    background-position-y: -75px;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
header p ,header span{
     font-family: 'Raleway', sans-serif; 
     font-size: 23px;

}
.header p{
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right:1px solid #333 ;
    animation: typing 3s infinite alternate-reverse steps(27) both , blink infinite 0.7s;;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 314px;
    }
}
@keyframes blink{
    from{
        border-color:#3333;
    }
    to{
        border-color:#333333bd;

    }
}
h1{
    font-size: 60px;
    font-weight: 700;
}
header .icons i{
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid;;
    border-radius: 100%;
    transition: .5s;;
}
header .icons i:hover{
    transform: rotate(360deg);;
}
header .icons i:nth-of-type(1){
    color:#3b5999;
    border-color: #3b5999;
}
header .icons i:nth-of-type(1):hover{
    color:white;;
    background-color: #3b5999;
}
header .icons i:nth-of-type(2){
    color:#ea4c89;
    border-color: #ea4c89;
}
header .icons i:nth-of-type(2):hover{
    color:white;
    background-color: #ea4c89;
}
header .icons i:nth-of-type(3){
    color:#1769ff;
    border-color: #1769ff;
}
header .icons i:nth-of-type(3):hover{
    color:white;
    background-color: #1769ff;
}
header .icons i:nth-of-type(4){
    color:#0077b5;
    border-color: #0077b5;
}
header .icons i:nth-of-type(4):hover{
    color:white;
    background-color: #0077b5;
}
header .icons i:nth-of-type(5){
    color:#dd4b39;
    border-color: #dd4b39;
}
header .icons i:nth-of-type(5):hover{
    color:white;
   background-color: #dd4b39;
}





/* end header */
/* start about */
.numbers{
    background-color: #4e4e4e;
}
.about .numbers span{
    font-size: 26px;
    font-weight: 700;
}
.about .numbers p{
    font-family: 'Dosis', sans-serif;
     font-size: 16px;
     font-weight: 700;
}
.about p{
    font-size: 14px;
    width: 90%;
    line-height: 1.5;
    padding-top: 10px;
    margin-bottom:15px ;
}
h2{
    font-size: 48px;;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}
.fa-eye ,.fa-envelope{
    background-color: #4e4e4e;
}
.custom-btn:hover i{
 color:var(--main-color) !important;
}
.custom-btn span{
   color:#4e4e4e;
}
.about .container > .row{
 width: 90%;
 margin: auto;
}

/* end about */

/* start services */
.services p{
    color:#818181;
    font-weight: 400;
    font-size: 14px;
}
.services h3{
    color:#3b3b3b;
    font-size : 20px;
    font-weight: 500;
}
.services .service-item{
    position: relative;
}
.services .service-item::after{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    left:0;
    bottom: 0;
    height: 0;
    background-color: #f3f3f3;
    border-radius: 15px;
    z-index: -1;
    transition:1s;
}
.services .service-item:hover::after{
    height: 100%;
}

/* end services */
/* start portfolio */
.portfolio{
    background-color: #f3f3f3;
}
.portfolio .nav-link{
    font-size: 13px;;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #5f5f5f;
    border-color: #5f5f5f !important;
}
.portfolio .nav-link.active {
background-color: var(--main-color);
border: none !important;
color:white;
}
.overlay{
    background-color: rgba(0,0,0,0.2);
    transform: scaleY(0);
    transition: 1s;
}
.project-card:hover .overlay{
    transform: scaleY(1);

}
.overlay i{
    transform: scale(0);
    transition: 0.5s 0.2s;
}
.project-card:hover .overlay i{
    transform:scale(1) rotate(360deg);

}
.overlay i:hover{
    background-color: transparent;
    border:1px solid white;;
    color:var(--main-color);
}
.project-card .info{
    bottom: 40px;
    transition: 0.5s;
    opacity: 0;
}
.project-card:hover .info{
    bottom: 0;
    opacity: 1;
}
/* end portfolio */
/* start resume */
.resume .head i{
 width: 40px;
 height: 40px;
 text-align: center;
 line-height: 40px;
}
.resume .head:hover i{
    background-color: #f3f3f3;
    color:var(--main-color) !important;
}

.resume .head{
    position: relative;
}
.resume .head::before , .resume .item:not(:last-of-type)::before{
    content:'';
    background-color: #333;
    position: absolute;
    top:25px;
    left:18px;
    width: 1px;
    height: 100%;
    z-index: -1;

}
.resume .item:not(.item.special):after{
    content: '';
    position: absolute;
    top:25px;
    left: 13px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    background-color: white;
}
.resume .item:not(.item.special):hover:after{
    background-color: var(--main-color);

}

.resume h4{
    font-size: 14px;
    font-weight: 500;
    color:#3b3b3b;
}
.resume  h4 span{
    font-size: 14px;
    font-weight: 400;
    color:#3b3b3b;
}
.resume .item:hover::after{
    background-color: var(--main-color);
}
.resume p {
    font-size: 15px;
    font-weight: 400;
    color: #3b3b3b;
    line-height: 1.5;
}
.bar{
    height: 5px;
    background-color: #333;
    position: relative;
    border-radius:5px;
}
.bar::after{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    background-color:var(--main-color);
    width: 80%;
    height: 100%;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;

}
.item .resume {
    height: 50%;
}


.item[percentage="80%"] h4{
    width: 80%;
}
.item[percentage="80%"].bar::after{
    width: 80%;
}

.item[percentage="70%"] h4{
    width: 70%;
}
.item[percentage="70%"] .bar::after{
    width: 70%;
}
.item[percentage="55%"] h4{
    width: 55%;
}
.item[percentage="55%"] .bar::after{
    width: 55%;
}

/* end resume */
/* start download-resume  */
.download-resume{
    background:linear-gradient(rgba(59,59,59,0.75), rgba(59,59,59,0.75)), url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.download-resume p{
    font-size: 32px;;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
}
.download-resume a{
    font-size: 13px;
    font-family:'Raleway', sans-serif ;
    transition: .5s;;
}
.download-resume a:hover{
    background-color: var(--main-color);
    border-color: var(--main-color) !important;
}
/* end download-resume  */


/* start testimonials */
.testimonials .qoute span{
    font-size: 14px;
    color:#5b5b5b;
}
.testimonials .qoute:hover span{
    color:white !important;
}
.testimonials .qoute:hover{
    background-color:#5b5b5b;
    color:white !important;
}
.testimonials .qoute i{
    font-size: 20px;
}
.carousel-indicators{
    bottom:-100px !important;
}
.carousel-indicators [data-bs-target]{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border:1px solid var(--main-color);
}
.carousel-indicators .active{
    background-color: var(--main-color);
}
/* end testimonials */

/* start contact */
.contact{
    background-image:linear-gradient(rgb(255,114,76,0.85), rgb(255,114,76,0.85)), url(../img/contactbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.w-65{
    width:65%;
}
.contact input:focus ,.contact textarea:focus{
    border:solid 1px white !important;
    box-shadow: none;;
}
.contact input::placeholder ,.contact textarea::placeholder{
   color:white;
}
/* end contact */

/* start map*/
.contact-info .container{
  background-color: #282828;
}
.contact-info i{
color:var(--main-color);
width: 30px;
height: 30px;
font-size: 12px;
background-color:#f3f3f3;
display: flex;
justify-content: center;
align-items: center;
transition: 0.4s transform ,0.4s color;
}
.contact-info i:hover{
    color:white;
    background-color: var(--main-color);
    transform: rotate(360deg);;
}
/* end map*/
/* start footer */
footer{
    background-color: white;
}
footer p{
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 16px;
color: #818181;
}
/* end footer */
@media (max-width:568px) {
    header{
        background-position-x:-245px ;
    }
    .header-content{
        align-items: start !important;
    }
    h1{
        font-size: 45px;
    }
    .contact p, .contact form{
        width:100% !important;
    }
    
}
@media (max-width:991px){
    .nav-item{
        width: fit-content;
    }
}
@media (max-width:768px){
    .about .count{
      border:none !important;
    }
    .download-resume .brands{
        justify-content: center !important;
    }
    .download-resume .download{
        text-align: center;
        margin-bottom: 2rem;;
    }

}








